@model MovieForum.Models.Discussion

@{
    ViewData["Title"] = "Create";
}
<body class="createDiscussion">
<h1>New Post</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="container-fluid">
        
        <form enctype="multipart/form-data" class="bg-light p-4 rounded shadow" asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            

            @* Form control for Username input *@
            @* <div class="form-group"> *@
            @*     <label asp-for="Username" class="control-label"></label> *@
            @*     <div class="input-group"> *@
            @*         <div class="input-group-prepend"> *@
            @*             <div class="input-group-text">@@</div> *@
            @*         </div> *@
            @*         <input asp-for="Username" class="form-control" /> *@
            @*     </div> *@
            @*     <span asp-validation-for="Username" class="text-danger"></span> *@
            @* </div> *@


            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control-file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            
            @* <div class="form-group"> *@
            @*     <label asp-for="CreateDate" class="control-label"></label> *@
            @*     <input asp-for="CreateDate" class="form-control" /> *@
            @*     <span asp-validation-for="CreateDate" class="text-danger"></span> *@
            @* </div> *@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
