@model List<MovieForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{
    <div class="masonry-grid">
        @foreach (var item in Model)
        {
            string imageUrl = $"/photos/{item.ImageFilename}";

            <div class="masonry-grid-item">
                <a href="@Url.Action("DiscussionDetails", "Home", new { id = item.DiscussionId })">
                    <img src="@imageUrl" class="img-fluid" alt="@item.Title" />
                </a>
            </div>
        }
    </div>
}
